
<div style="" class="margin-top-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12 map-navigation-positioning">
                <div class="map-navigation-wrapper">
                    <div class="map-navigation">
                        <form role="search" method="GET" id="searchformTop" class="searchform" action="/tim-kiem">
                            <div class="search_field">
                                <div class="row">
                                    <div class="col-xs-3 padding5">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="search_keyword" name="key" value="" placeholder="Nhập thông tin cần tìm" autocomplete="off">
                                                <input type="hidden" id="lat" name="lat">
                                                <input type="hidden" id="lng" name="lng">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 padding5">
                                        <div class="form-group">
                                            <select name="district" id="search_district" class="form-control">
                                                <option value="">--Chọn Quận--</option>
                                                <option value="760">Quận 1</option>
                                                <option value="769">Quận 2</option>
                                                <option value="770">Quận 3</option>
                                                <option value="773">Quận 4</option>
                                                <option value="774">Quận 5</option>
                                                <option value="775">Quận 6</option>
                                                <option value="778">Quận 7</option>
                                                <option value="776">Quận 8</option>
                                                <option value="763">Quận 9</option>
                                                <option value="771">Quận 10</option>
                                                <option value="772">Quận 11</option>
                                                <option value="761">Quận 12</option>
                                                <option value="762">Quận Thủ Đức</option>
                                                <option value="764">Quận Gò Vấp</option>
                                                <option value="765">Quận Bình Thạnh</option>
                                                <option value="766">Quận Tân Bình</option>
                                                <option value="767">Quận Tân Phú</option>
                                                <option value="768">Quận Phú Nhuận</option>
                                                <option value="777">Quận Bình Tân</option>
                                                <option value="783">Huyện Củ Chi</option>
                                                <option value="784">Huyện Hóc Môn</option>
                                                <option value="785">Huyện Bình Chánh</option>
                                                <option value="786">Huyện Nhà Bè</option>
                                                <option value="787">Huyện Cần Giờ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 padding5">
                                        <div class="form-group">
                                            <select name="price-value" id="search_room_prices" class="form-control price">
                                                <option value="">--Chọn mức giá--</option>
                                                <option value="1">&lt; 1.000.000</option>
                                                <option value="2">1000.000 - 3.000.000</option>
                                                <option value="3">3.000.000 - 5.000.000</option>
                                                <option value="4">5.000.000 - 10.000.000</option>
                                                <option value="5">&gt; 10.000.000</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 padding5">                                        
                                        <div class="form-group  pull-right">
                                            <button type="submit" class="btn btn-default btn_search_box  red-haze">Tìm kiếm bai dang
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.map-navigation -->
                </div>
                <!-- /.map-navigation-wrapper -->
            </div>
            <!-- /.col-sm-3 -->
        </div>
        <!-- /.row -->
    </div>
</div>