
<div class="row">

    <!-- Device -->
    <div class="col-md-5 col-xs-12">
        <div id="carousel-device-ios" class="carousel-device device-mobile ios-iphone5c-yellow ios-device carousel slide" data-pause="false">
            <div class="carousel-inner carousel-inner-device img-screen-wrapper">
                <div class="item">
                    <img src="/assets/default/layout/img/image-04.png" alt="...">
                </div>
                <div class="item">
                    <img src="/assets/default/layout/img/image-02.png" alt="...">
                </div>
                <div class="item active">
                    <img src="/assets/default/layout/img/image-03.png" alt="...">
                </div>
            </div>
            <div class="highlight"></div>
            <a class="left carousel-control carousel-control-device" href="#carousel-device-ios" data-slide="prev"></a>
            <a class="right carousel-control carousel-control-device" href="#carousel-device-ios" data-slide="next"></a>
            <!-- Badges -->
            <ul class="badge-wrapper right-side">
                <li class="wow swing animated" style="visibility: visible; animation-name: swing;"><img src="static/images/badges/51.png" alt="..."></li>
            </ul>
            <!-- QR-code -->

        </div>
        <div id="carousel-device-android" class="carousel-device device-mobile android-nexus5-black android-device carousel slide" data-pause="false" style="display: none">
            <div class="carousel-inner carousel-inner-device img-screen-wrapper">
                <div class="item active">
                    <img src="/assets/default/layout/img/image-04.png" alt="...">
                </div>
                <div class="item">
                    <img src="static/images/screenshots/android-02.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="static/images/screenshots/android-03.jpg" alt="...">
                </div>
            </div>
            <div class="highlight"></div>
            <a class="left carousel-control carousel-control-device" href="#carousel-device-android" data-slide="prev"></a>
            <a class="right carousel-control carousel-control-device" href="#carousel-device-android" data-slide="next"></a>
            <!-- Badges -->
            <ul class="badge-wrapper right-side">
                <li class="wow swing animated" style="visibility: visible; animation-name: swing;"><img src="static/images/badges/51.png" alt="..."></li>
            </ul>
            <!-- QR-code -->
            <ul class="badge-wrapper right-bot-side">
                <li class="qr-code-wrapper animated fadeInUp"><img src="static/images/qr-code.png" alt="..."></li>
            </ul>
        </div>
        <div id="carousel-device-wp" class="carousel-device device-mobile windowsphone-lumia-blue windowsphone-device carousel slide" data-pause="false" style="display: none">
            <div class="carousel-inner carousel-inner-device img-screen-wrapper">
                <div class="item active">
                    <img src="<?php echo HOST_STATIC_DEFAULT;?>layout/img/screenshots/wp-01.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="<?php echo HOST_STATIC_DEFAULT;?>layout/img/screenshots/wp-02.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="<?php echo HOST_STATIC_DEFAULT;?>layout/img/screenshots/wp-03.jpg" alt="...">
                </div>
            </div>
            <div class="highlight"></div>
            <a class="left carousel-control carousel-control-device" href="#carousel-device-wp" data-slide="prev"></a>
            <a class="right carousel-control carousel-control-device" href="#carousel-device-wp" data-slide="next"></a>
            <!-- Badges -->
            <ul class="badge-wrapper right-side">
                <li class="wow swing animated" style="visibility: visible; animation-name: swing;"><img src="static/images/badges/51.png" alt="..."></li>
            </ul>
            <!-- QR-code -->
            <ul class="badge-wrapper right-bot-side">
                <li class="qr-code-wrapper animated fadeInUp"><img src="static/images/qr-code.png" alt="..."></li>
            </ul>
        </div>
    </div><!-- /Device -->

    <div class="col-md-7 col-xs-12 main-app-description right-side margin-vertical">
        <div class="app-icon">
            <img src="/assets/default/layout/img/logo.png" alt="App icon">
        </div>
        <h1 class="main-title text-white">Forum Application</h1>
        <div class="clearfix"></div>

        <p class="main-description text-white">4rum is a landing page for your mobile application with a lot of benefits. The template supports three OS: iOS, Android and Windows Phone. There are various mobile devices, including tablets, provided for each OS. Features area includes several interactive sections for a detailed description of your application. The template also includes a working subscription form and template pages for the company description, FAQ and terms of use.</p>

        <p class="available-device text-white">Available for <i class="fa fa-tablet"></i> <i class="fa fa-mobile"></i></p>

        <div class="group-inline">
            <a href=""><div class="btn-store btn-store-ios-white"></div></a>
            <a href=""><div class="btn-store btn-store-android-white"></div></a>
            <a href=""><div class="btn-store btn-store-wp-white"></div></a>
        </div>

        <p class="copyrights-landing text-white">© <a href="http://xome.vn/gioi-thieu.html/">LN3 Team</a>, 2017. All rights reserved.</p>
        <div class="">
            <a href="/auth/facebook" class="vc_general btn btn-lg blue" data-toggle="modal"><i class="fa fa-facebook"></i> Get Started</a>
        </div>
    </div>

</div>