.grid-sizer iframe {
	max-width: 100%;
	min-height: 150px;
	display: block;
}

.grid-sizer{
	margin-bottom: 15px;
}

.blog-page {
    border: 1px solid #ddd;
    padding: 2px 10px;
    background-color: white;
}
.blog-data{
    margin-top: 5px;
    color: black;
    font-size: 14px;
}

.blog-data p{
	margin: 5px 0px;
}

.blog-page .media{
	height: 52px;
}
.blog-page .media img {
    height: 48px;
    position: relative;
    top: 3px;
    width: 48px;
}

.media-object {
    border: 1px solid #ddd;
}

.blog-page h4.media-heading {
    position: relative;
    line-height: 27px;
}

.blog-page h4.media-heading span {
    color: #777777;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 3px;
}

.blog-page h4.media-heading span a {
    color: #78cff8;
}

hr {
	background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
	background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
	border: 0;
	height: 1px;
	margin: 22px 0;
}
